<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart App | Login</title>
</head>
<body>
    <div style="text-align: center; padding: 20px;">
        <h1 style="margin: 20px;">Login</h1>
        <h3>Are you a PwD,volunteer or Ngo?</h3>
        <form action="/register" method="get">
            <button type="submit" name="user_type" value="pwd">PwD</button>
            <button type="submit" name="user_type" value="volunteer">Volunteer</button>
            <button type="submit" name="user_type" value="ngo">Ngo</button>
        </form>
    </div>
</body>
</html>
